<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="9600"/>
    <add key="Parity" value="None"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="One"/>
    <add key="Handshake" value="None"/>
    <add key="DatabaseDirectory" value=""/>
  </appSettings>
</configuration>